* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  color: #555555;
  margin: 10px 20px 50px;
  text-align: center;
}

iframe {
  width: 50vw;
  height: 60vh;
  border-radius: 8px;
}

footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

footer a {
  color: #000;
}

button {
  align-items: center;
  background: #222831;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  height: 50px;
  justify-content: space-around;
  margin: 25px 15px;
  padding: 10px 15px;
  width: 200px;
}

.header {
  align-items: center;
  background: #222831;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: center;
  width: 100%;
}

.header__img {
  background: url('https://stormgroup.com.br/static/stormgroup.svg') no-repeat center;
  height: 50px;
  width: 150px;
  background-repeat: no-repeat;
}

.header__text {
  align-items: center;
  display: flex;
}

.header__title {
  color: #9e9b9c;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.header__description {
  color: #fff;
  margin-right: 5px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 1rem 0 5rem;
}

.caroussel {
  margin-top: 1rem;
  width: 100%;
}

.caroussel__title {
  color: #222831;
  margin-left: 40px;
  text-transform: uppercase;
}

.caroussel__list {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 300px;
  padding: 0 20px;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
  height: 280px;
  margin: 0 15px;
  min-width: 380px;
}
.card {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
  height: 280px;
  margin: 0 15px;
  min-width: 380px;
}

.card:focus {
  outline: none;
  border: 5px solid #3ab8e8;
}

.card__content {
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: flex-end;
  padding: 35px 15px;
  text-decoration: none;
  width: 100%;
}


.card__img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.card__title {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  text-shadow: 0 0 10px black;
}

.card__description {
  font-size: 1rem;
  margin: 0;
  text-shadow: 0 0 10px black;
}

.video__container {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  margin: 70px 0;
  padding: 0 50px;
}

.video__player {
  padding: 0 30px;
}

.video__content {
  height: 60%;
  width: 40%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.video__content h2 {
  margin: 10px auto;
}

.video__buttons {
  display: flex;
}

.selected {
  border: 5px solid #3ab8e8;
}

@media (min-width: 1900px) {
  h2, h3, p {
    font-size: 2rem;
  }
  a {
    font-size: 1.5rem;
  }
  .header__img {
    height: 150px;
    margin-top: 30px;
    width: 250px;
  }
  .header__title {
    font-size: 2rem;
  }
  .header__description {
    font-size: 2rem;
  }
  .card__title {
    font-size: 2.5rem;
  }
  .card__description {
    font-size: 2rem;
  }
}