* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

a {
  text-decoration: none;
}

h2 {
  color: #555555;
  text-align: center;
  margin: 10px 20px 50px;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #000;
}

.header {
  align-items: center;
  background: #222831;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.header__img {
  background: url('https://stormgroup.com.br/static/stormgroup.svg') no-repeat center;
  height: 50px;
  width: 150px;
}

.header__text {
  align-items: center;
  display: flex;
}

.header__title {
  color: #9e9b9c;
  font-size: 1em;
  margin: 0;
  text-transform: uppercase;
}

.header__description {
  color: #fff;
  margin-right: 5px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 1rem 0 5rem;
}

.caroussel {
  margin-top: 1rem;
  width: 100%;
}

.caroussel__title {
  color: #222831;
  margin-left: 40px;
  text-transform: uppercase;
}

.caroussel__list {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 240px;
  padding: 0 20px;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  cursor: pointer;
  height: 220px;
  margin: 0 15px;
  min-width: 300px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card__link {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: flex-end;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.card:hover {
  border-color: #3ab8e8;
  color: #3ab8e8;
}

.card__img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.card__title {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  text-shadow: 0 0 10px black;
}

.card__description {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  text-shadow: 0 0 10px black;
}
